@import "../../../../styles/colors.scss";

.file-item {
    display: grid;
    grid-template-columns: 70px 4fr repeat(2, 58px) repeat(2, 1fr);
    border-bottom: 2px solid $text-color;
    gap: 15px;
    padding: 10px 0;
    justify-items: center;
    align-items: center;
    font-size: 14px;

    &_dir {
        cursor: pointer;
    }

    &__icon {
        grid-column-start: 1;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 48px;
        height: 48px;

        &_dir {
            background-image: url("../../../../assets/icons/folder-icon.svg");
        }
        &_file {
            background-image: url("../../../../assets/icons/file-icon.svg");
        }
    }

    &__name {
        grid-column-start: 2;
        justify-self: start;
        font-size: 18px;
        max-width: 566px;
        overflow-wrap: break-word;
    }

    &__date {
        grid-column-start: 5;
    }

    &__size {
        grid-column-start: 6;
    }

    &__button {
        width: 58px;
        height: 34px;
        border: 1px solid $text-color;
        border-radius: 100px;
        background-repeat: no-repeat;
        background-position: center;
        visibility: hidden;
        opacity: 0;
    }

    &__button_download {
        background-image: url("../../../../assets/icons/download-icon.svg");
        background-size: 28px;
    }

    &__button_delete {
        background-image: url("../../../../assets/icons/delete-icon.svg");
        background-size: 16px;
        grid-column-start: 4;
    }

    &:hover &__button {
        visibility: visible;
        opacity: 1;
    }
}

.file-item-grid {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
        flex-shrink: 0;

        &_dir {
            background-image: url("../../../../assets/icons/folder-icon.svg");
        }

        &_file {
            background-image: url("../../../../assets/icons/file-icon.svg");
        }
    }

    &__name {
        text-align: center;
        max-width: 100px;
    }

    &__buttons {
        margin-top: 3px;
        display: flex;
        gap: 5px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__button {
        width: 58px;
        height: 34px;
        border: 1px solid $text-color;
        border-radius: 100px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__button_download {
        background-image: url("../../../../assets/icons/download-icon.svg");
        background-size: 28px;
    }

    &__button_delete {
        background-image: url("../../../../assets/icons/delete-icon.svg");
        background-size: 16px;
    }

    &:hover &__buttons {
        visibility: visible;
        opacity: 1;
    }
}
