@import "../../styles/colors.scss";

.disk {
    padding-top: 25px;

    &__title {
        text-align: center;
        margin-bottom: 25px;
        font-size: 24px;
    }
    &__menu {
        display: flex;
        gap: 15px;
        margin-bottom: 25px;
    }
    &__button {
        background-color: burlywood;
        padding: 5px 15px;
        color: black;
        border-radius: 50px;
        font-size: 14px;
    }

    &__upload {
        border: 2px dashed $text-color;
        padding: 5px 15px;
        cursor: pointer;

        input {
            display: none;
        }
    }
}

.drop-area {
    height: calc(100vh - 70px - 40px);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed $text-color;
    font-size: 40px;
}

.loader {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $text-color;
    border-color: $text-color transparent $text-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
