@import "../../styles/colors.scss";

.disk {
    padding-top: 25px;

    &__title {
        text-align: center;
        margin-bottom: 25px;
        font-size: 24px;
    }
    &__menu {
        display: flex;
        gap: 15px;
        margin-bottom: 25px;
    }
    &__button {
        background-color: burlywood;
        padding: 5px 15px;
        color: black;
        border-radius: 50px;
        font-size: 14px;
    }

    &__upload {
        border: 2px dashed $text-color;
        padding: 5px 15px;
        cursor: pointer;

        input {
            display: none;
        }
    }
}
