@import "../../styles/colors.scss";

.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        width: 400px;
        background-color: #fff;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__title {
    }
    &__close {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url("../../assets/icons/close-icon.svg");
        width: 35px;
        height: 35px;
        margin-right: -10px;
        margin-top: -10px;
    }
    &__submit {
        background-color: $text-color;
        color: #fff;
        border-radius: 500px;
        align-self: flex-end;
        padding: 5px 15px;
    }

    &__form {
        display: contents;
    }

    input {
        margin-bottom: 30px;
    }
}
