.nav {
    background-color: #fff;
    padding: 10px 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__title {
        font-weight: 700;
        font-size: 20px;
        margin-right: auto;
    }
    &__link {
        font-weight: 700;
        font-size: 20px;

        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }
    &__search {
        width: 200px;
        padding: 5px 10px;
        margin-right: auto;
    }
}
