.file-list {
    min-height: calc(100vh - 169px - 70px - 25px);

    &__header {
        display: grid;
        grid-template-columns: 70px 4fr repeat(2, 58px) repeat(2, 1fr);
        font-size: 14px;
        justify-items: center;
    }
    &__header-name {
        grid-column-start: 2;
        justify-self: start;
        margin-left: 100px;
    }
    &__header-date {
        grid-column-start: 5;
    }
    &__header-size {
        grid-column-start: 6;
    }
    &__list {
    }
}

.file-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 0;
}

.file-enter {
    opacity: 0;
    transform: translateY(-50%);
}

.file-enter-active {
    animation: file-enter 0.5s forwards;
}

@keyframes file-enter {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 169px - 70px);
    font-size: 34px;
}
